{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.JaxanK/ExtensionLibs {:git/sha "e8bf41ef298157e4bb2e116285fccba92e40a822"} ;May need to update to latest version
        }
 :aliases
 {:run-m {:main-opts ["-m" "jaxank.template"]}
  :run-x {:ns-default jaxank.template
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.9.6"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
